---
title: Murder Mystery Weekend
js: 
needsMap: false
standardMap: world
customMap: australia
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    {% block head %}{% endblock %}

    <script src="/common-js/alpine.js?v={% version %}"></script>
    <script src="/common-js/supabase.js?v={% version %}"></script>
    <script src="/supabaseFuncs.js"></script>
    <script src="/usefulFuncs.js"></script>

    <script type="module" src="/supabaseModule.js"></script>
    
    {% if needsMap %}
      <link rel="stylesheet" href="jsvectormap.min.css"/>
      <script src="/common-js/jsvectormap.min.js"></script>
      <script src="/common-js/maps/{{ standardMap }}.js"></script>
      <script src="/{{ customMap }}.js"></script>
    {% endif %}

    {% if js %}
      <script src="{{ js }}?v={% version %}"></script>
    {% endif %}

  </head>
  <body>
    {% include "partials/header.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>