---
layout: body
js: characters.js
eleventyNavigation:
  key: Character Assignments
  order: 4
---

<div x-data="componentData()" x-init="init()">
    <div class="bg-white">
        <div class="max-w-7xl mx-auto pb-16 px-4 sm:pb-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">The murder mystery we will be taking part in is called:</p>
            <p class="pt-4 mt-1 text-4xl font-typewriter text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">“The Auction”</p>
            </div>
        </div>
    </div>

	<div x-show.transition.out="!loaded" class="lds-ripple lds-ripple-purple"><div></div><div></div></div>

    <div x-show.transition.in.duration.500ms="loaded" class="bg-purple-100 rounded-xl mb-20">
		<div class="p-6 text-lg text-center">Click your name to reveal your invitation!</div>
		<div class="flex flex-wrap justify-around lg:justify-center">
			<template x-for="(player, index) in players" :key="player">
				<div 
					href="#invitation" 
					@click="selectPlayer(player.id); $nextTick(() => { $refs.invitation.scrollIntoView({ behavior: 'smooth' }) });" 
					:class="{'selected': selectedPlayer == null || selectedPlayer.id === player.id}" 
					class="flex flex-col items-center m-1 cursor-pointer opacity-50 transition-all duration-300 lg:m-6" 
				>
					<div class="w-20">
						<img class= "rounded-full" :src="'/assets/profile_pictures/' + player.profilePicture" />
					</div>
					<div x-text="player.actorName"></div>
				</div>
			</template>
		</div>
	</div>
	
	<div x-ref="invitation" x-show="selectedPlayer != null" >
		<div class="flex flex-col items-center lg:flex-row">
			<div class="bg-paper lg:w-1/2 shadow-2xl">
				<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
					<div class="text-left font-typewriter text-lg text-black">
						<p class="max-w-xl mt-5 mx-auto text-sm text-right pb-8">Farr, Out & Lee Gal<br />Soliciting Services</p>
						<p class="max-w-xl mt-5 mx-auto">Dear <span class="font-bold" x-text="selectedPlayer ? selectedPlayer.rsvps['First Name'] : ''"></span></p>
						<p class="max-w-xl mt-5 mx-auto">Following the tragic death of the Baroness Audry von Munchen, her famous artifacts are being sold to the highest bidder.</p>
						<p class="max-w-xl mt-5 mx-auto">We would welcome your presence at this auction and to the reading of her will.</p>
						<p class="max-w-xl mt-5 mx-auto">Today you may be <span class="font-bold" x-text="selectedPlayer ? selectedPlayer.rsvps['First Name'] : ''"></span>, but by 6pm on May 29th at Munchen Manor, you will be...</p>
						<p class="text-center max-w-xl mt-5 mx-auto font-bold text-2xl" x-text="selectedPlayer ? selectedPlayer.name : ''"></p>
						<p class="text-center max-w-md mt-5 mx-auto text-xl" x-text="selectedPlayer ? selectedPlayer.description : ''"></p>
						<p class="max-w-xl mt-5 mx-auto">The evening shall be accompanied by dinner and refreshments.</p>
						<p class="max-w-xl mt-5 mx-auto">Yours sincerely,</p>
						<p class="pl-8 max-w-xl mt-5 mx-auto text-4xl font-handwritten">Freddie Farr, Attorney at Law</p>
					</div>
				</div>
			</div>
			<div class="lg:w-1/2 lg:p-8 lg:mt-0 mt-8 self-center ">
				<img class="shadow-2xl" src="/assets/newspaper.jpg" />
			</div>
		</div>

		<div class="lg:w-1/2 m-auto lg:mt-20 mt-10 bg-purple-100 rounded-2xl">
			<div class="p-8">
				<p class="max-w-xl mx-auto font-bold">Some things to note:</p>
				<p class="max-w-xl mt-5 mx-auto">Your character's gender is: <span class="font-bold" x-text="selectedPlayer ? selectedPlayer.gender : ''"></span></p>
				<p class="max-w-xl mt-5 mx-auto">Our event is set in Australia in the modern day, however we encourage you to get creative with your costume - the more exaggerated the better!</p>
				<p class="max-w-xl mt-5 mx-auto">Some of the character descriptions specify particular nationalities or accents.</p>
				<p class="max-w-xl mt-5 pl-8 mx-auto">If yours does, you must play your character as not Australian, but their nationality does not need to be the one specified in the description.</p>
				<p class="max-w-xl mt-5 pl-8 mx-auto">If yours does not, your character may be from wherever you like, including Australia!</p>
				<p class="max-w-xl mt-5 mx-auto">Accents, like costumes, often help to get into character, so feel free to be as silly and OTT as you like with it.</p>
			</div>
		</div>
	</div>

    <div class="text-center my-20">
        <h1 class="text-4xl font-extrabold sm:text-5xl md:text-6xl">
            <span class="block text-purple-600 tracking-tight">Questions?</span>
            <span class="pt-8 block text-2xl text-blue-800">Check the <a href="/#faq-anchor">FAQ</a>, <br />post in the WhatsApp group<br /> or message Stephen directly!</a></span>
        </h1>
    </div>
</div>